<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

    <targets>
        <target name="stdout" xsi:type="Console">
            <layout type='JsonLayout'>
                <attribute name='time' layout='${longdate}'/>
                <attribute name='level' layout='${level:upperCase=true}'/>
                <attribute name='message' layout='${message}'/>
                <attribute name='logger' layout='${logger}'/>
            </layout>
        </target>
        <target name="stderr" xsi:type="Console" error="true">
            <layout type='JsonLayout'>
                <attribute name='time' layout='${longdate}'/>
                <attribute name='level' layout='${level:upperCase=true}'/>
                <attribute name='message' layout='${message}'/>
                <attribute name='exception' encode='true'
                           layout='${onexception:${exception:maxInnerExceptionLevel=10:innerExceptionSeparator=&#xD;&#xA;&#x9;:format=shortType,message,StackTrace}}'/>
                <attribute name='logger' layout='${logger}'/>
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" maxLevel="Warn" writeTo="stdout"/>
        <logger name="*" minlevel="Error" writeTo="stderr"/>
    </rules>
</nlog>